body {
  text-align: center;
  margin: auto;
}

.contenedor {
  width: 100%;
}

.esppacio {
  padding: 1em 0;
}

.capa-oscura {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}

header {
  color: #fff;
  height: 400px;
  background-image: url("../image/large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header a {
  color: #fff;
}

header .boton a {
  padding: 0 2em 1em;
  border: 1px solid #fff;
  border-radius: 5px;
}

header h1 {
  padding: 2em 5em;
}
