doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title testing
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/icomoon.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		script(type="text/javascript", src="js/jquery.easing.min.js")
		script(type="text/javascript", src="js/jquery.js")
		script(type="text/javascript", src="js/bootstrap.min.js")
		link(rel="stylesheet", href="css/main.css")
	body
		.contenedor
			header
				.capa-oscura
					.row.espacio
						.col-md-3.portada
							img(class="pull-left img-responsive" src="image/user-r.png")
						.col-md-9.menu.espacio
							ul(class="pull-right list-inline list-unstyled")
								li
									a(href="#") ¿Que me ofrece?
								li
									a(href="#") ¿Como funciona?
								li
									a(href="#") ¿Porque usarlo?
								li
									a(href="#") Contactos
					.row
						h1 Obten videos de personas reales utilizando tu sitio web, en 1 hora.
					.row.capa-celeste
							.col-sm-6.derecha
								
								h2 PRUEBA GRATUITA
								p Obten tu video gratis de 5 minutos.
								
							.col-sm-6
								a.mgt2(class="pull-left boton " href="#")
									p.tmn-bt.tmn-bt Prueba gratis
			//- final de head
			section
				.row.pd1
					h3 Nuestros servicios
					.col-md-4
						div.circle
							i.glyphicon.glyphicon-play
						h5 pruebalo gratis
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.
					.col-md-4
						div.circle
							span.glyphicon.glyphicon-time
						h5 Compra el servicio completo
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.
					.col-md-4
						div.circle
							span.glyphicon.glyphicon-list-alt
						h5 Obtèn el resultado en un dia
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.	
					img(src="image/separador.png", alt="separador")