doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title testing
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/icomoon.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		script(type="text/javascript", src="js/jquery.easing.min.js")
		script(type="text/javascript", src="js/jquery.js")
		script(type="text/javascript", src="js/bootstrap.min.js")
		link(rel="stylesheet", href="css/main.css")
	body
		.container
			header
				.capa-oscura
					.row.espacio
						.col-md-3.portada
							img(class="pull-left img-responsive" src="image/user-r.png")
						.col-md-9.menu.espacio
							ul(class="pull-right list-inline list-unstyled")
								li
									a(href="#") ¿Que me ofrece?
								li
									a(href="#") ¿Como funciona?
								li
									a(href="#") ¿Porque usarlo?
								li
									a(href="#") Contactos
					.row
						h1 Obten videos de personas reales utilizando tu sitio web, en 1 hora.
					.row.capa-celeste
							.col-sm-6.derecha
								
								h2 PRUEBA GRATUITA
								p Obten tu video gratis de 5 minutos.
								
							.col-sm-6
								a.mgt2(class="pull-left boton " href="#")
									p.tmn-bt.tmn-bt Prueba gratis
			//- final de head
			section
				.row.pd1
					h3 Nuestros servicios
					.col-md-4
						div.circle
							i.icon-video
						h5 pruebalo gratis
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.
					.col-md-4
						div.circle
							i.icon-clock
						h5 Compra el servicio completo
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.
					.col-md-4
						div.circle
							i.icon-documents
						h5 Obtèn el resultado en un dia
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore debitis sequi quia.	
					img(src="image/separador.png", alt="separador")
			section
				.row
					.col-md-6
						h3 Ejemplo de 
							span
								img(class="pull-right img-responsive" src="image/logo-2.jpg")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid libero, vel debitis nemo! Delectus.
						a(href="#") manzana.com
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt soluta, mollitia dignissimos, cum rerum minus sint provident harum placeat a.
						img(class="img-responsive" src="image/flecha.png")
					.col-md-6
						iframe(width="560" height="315" src="https://www.youtube.com/embed/xQC06eXdGdg" frameborder="0" allowfullscreen)
			section
				.row
					.col-md-6
						img(class="img-responsive" src="image/sec-2.jpg")
					.col-md-6
						h3 Lo quiero ¿Qué hago?
						h4 Paso 1:envianos tu link
						p Al darle click al botón de prueba.Coloca tu nombre y tu correo electrónico a donde enviaremos el video y el informe con el feedback.
						br
						h4 Paso 2:describe a tu público objetivo
						p Describe las acciones que quieres que evaluemos por ejemplo:
						ul
							li A primera vista de ¿Qué crees que trata la página?
							li Busca el botón de inscribirte ó comprar
							li ¿Es fácil o difícil leer los textos?
							p Puedes preguntar como las que te mostramos.
						br
						h4 Paso 3:recibe un video y el feedback completo
						p Recibe un combo de 7 videos y un informe detallado con las captaciones de usabilidad de tu producto.
			section
				.row
					.col-md-6
						h2 Por qué usar
						img.logo2(src="image/logo-2.jpg")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni odio accusantium quod neque voluptate sed numquam corporis, fugit quis expedita User Testing 360 sit delectus nostrum inventore placeat nobis officia, cumque voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem accusamus doloribus tenetur maiores debitis distinctio aut eaque, alias aperiam incidunt magni repellendus accusantium delectus voluptatum consectetur minima ducimus ea. Assumenda?:
						ul
							li ¿Cómo tu público objetivo verdaderamente usa tu producto?
							li ¿Qué se hace fácil o dificil al navegar en tu producto?
							li ¿Qué es lo que tu público quiere hacer y tal vez no obtiene o consigue?
						p "User Testing 360" te ayudara a responder etsas preguntas y muchas más. Es el toque final perfecto para tu página o producto digital.
					.col-md-6
						img.imagen(src="image/banner.jpg")
			section
				.row
					.col-md-6
						p PRUEBA GRATUITA
						p Obten un video de 5 minutos gratis
					.col-md-6
						a(href="#") Pruebalo gratis
			footer
				.row
					.col-md-6
						p Escribenos a:
						p 
							a(href="#") expercienciadeusuario.lab@gmail.com
						p telefonos:23425325
					.col-md-6
						i.icon-facebook
						i.icon-twitter
						hr
						p Copyright &copy; 2015 - User | esting 360


